@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<TelerikButton>Hello</TelerikButton>
<TelerikButton Class="RedText">Red Text Button</TelerikButton>
<TelerikButton Primary="true">Primary Button</TelerikButton>

<MudButton Variant="Variant.Filled" Color="Color.Primary">Primary</MudButton>

<style>

    .RedText,
    .RedText:hover {
        color: red;
    }

    .netherlandsFlag {
        background-image: url("https://demos.telerik.com/kendo-ui/content/shared/styles/flags.png");
        background-position: 0 -64px;
    }
</style>