@page "/"
@inject NavigationManager Navigation

<h1>Hello, world!</h1>

<h5>Welcome to basic CRUD Application.</h5>
<br />

<table class="table">
    <tbody>
        <tr>
            <td><button class="btn btn-info" @onclick="NavigateToPosts">Posts</button></td>
            <td><h5>In "Posts" tab you can make CRUD operations (Create, Edit, Delete, Details) on posts and call the api to update posts in the database.</h5></td>
        </tr>
        <tr>
            <td><MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="NavigateToMudblazorPosts">MudBlazor posts</MudButton></td>
            <td><h5>In "MudBlazor posts" tab you can make CRUD operations using MadBlazor components. Also it is possible to sort posts by chosen collumn or search elements.</h5></td>
        </tr>
        <tr>
            <td><TelerikButton Primary="true" OnClick="NavigateToTelerikPosts">Telerik posts</TelerikButton></td>
            <td><h5>In "Telerik posts" tab you can make CRUD operations using Telerik components.</h5></td>
        </tr>
        <tr>
            <td><MudButton Variant="Variant.Filled" Color="Color.Dark" OnClick="NavigateToJokesApi">Jokes API</MudButton></td>
            <td><h5>In "Jokes API" tab you can fetch jokes about programming from external API.</h5></td>
        </tr>
    </tbody>
</table>

<MudText Typo="Typo.h6" Color="Color.Primary">To create the database use command "update-database" in Package Manager Console in Visual Studio</MudText>

@code {
    private void NavigateToPosts()
    {
        Navigation.NavigateTo("/posts");
    }

    private void NavigateToMudblazorPosts()
    {
        Navigation.NavigateTo("/mudblazor/posts");
    }

    private void NavigateToTelerikPosts()
    {
        Navigation.NavigateTo("/telerik/posts");
    }

    private void NavigateToJokesApi()
    {
        Navigation.NavigateTo("/jokes");
    }
} 